# Lesson 5 -  Solutions
These exercises are to help you check your understanding during class. They will not be collected.

## Part 1 - Set up and Sort

### Exercise 1 - Set up

There is a CSV file called `NYC_Dog_Licensing.csv` in the `~/shared/data folder`. As the name indicates, this file contains information about New York City dog licences. This data comes from the [NYC OpenData project](https://opendata.cityofnewyork.us/).

- Import the NYC Dog Licenses data using the `read.csv()` function and store it in an R data frame called `nyc_dogs`.
- Load the dplyr package by excuting the ```library('dplyr')```command. You can ignore the warnings about masked opbjects.
- Use ```mutate()``` to add a new column called `Age` to the data frame. This column should contain an approximation of each dog's age.

In [15]:
nyc_dogs <- read.csv('~/shared/data/NYC_Dog_Licensing.csv')  # add the final name and path in quotes
library('dplyr') # load the dplyr package

nyc_dogs <- mutate(nyc_dogs, Age = 2021 - AnimalBirthYear) # age is approximately current_year - birth_year
head(nyc_dogs) # view the results

  X RowNumber AnimalName AnimalGender AnimalBirthYear BreedName
1 1 34510     ESCO       F            2015            Pekingese
2 2 37953     FLAX       M            2011            Portuguese Water Dog
3 3 43865     ZOE        F            2013            Maltese
4 4 46519     CHESBAR    M            2006            Chesapeake Bay Retriever
5 5 47651     LEICA      F            2014            Old English Sheepdog
6 6 47720     TUCHA      M            2014            Rat Terrier
  Borough ZipCode LicenseIssuedDate LicenseExpiredDate Extract.Year Age
1 NA      10012   12/15/2015        2021-12-12         2016          6
2 NA      10012   01/13/2016        2021-03-05         2016         10
3 NA      10014   02/15/2016        2021-02-15         2016          8
4 NA      10012   02/29/2016        2021-04-22         2016         15
5 NA      10012   03/05/2016        2021-04-06         2016          7
6 NA      10013   03/05/2016        2021-02-24         2016          7

### Exercise 2 - Sort

Use ```arrange()``` to sort entries in nyc_dogs in the three ways described below. In each case, check your work by using ```head()``` to view the first few rows of the result.

- i) Sort by `AnimalName` column, from A to Z
- ii) Sort by `AnimalName` from Z to A
- iii) Sort the entries by `AnimalName` column from A to Z, then by the `AnimalBirthYear` column in descending order

In [18]:
nyc_dogs <- arrange(nyc_dogs, AnimalName)
head(nyc_dogs)

  X   RowNumber AnimalName AnimalGender AnimalBirthYear
1 200  76458    ABBY       F            2016
2 357  26111    ABBY       F            2016
3 418  63866    AEON       F            2002
4  64 102636    ALPHA      F            2015
5 140  36067    ALPHA      F            2015
6 299   8383    ALPHA      F            2015
  BreedName                     Borough ZipCode LicenseIssuedDate
1 Morkie                        NA      10014   06/30/2017
2 Morkie                        NA      10014   06/30/2017
3 Labrador Retriever Crossbreed NA      10012   04/03/2018
4 Pomeranian                    NA      10014   11/01/2016
5 Pomeranian                    NA      10014   11/01/2016
6 Pomeranian                    NA      10014   11/01/2016
  LicenseExpiredDate Extract.Year Age
1 2022-05-06         2017          5
2 2022-05-06         2018          5
3 2021-04-03         2018         19
4 2021-11-01         2016          6
5 2021-11-01         2017          6
6 2021-11-01         2018          6

In [4]:
# i) Sort Animal Name from A to Z
head(arrange(nyc_dogs, AnimalName))

  X   RowNumber AnimalName AnimalGender AnimalBirthYear
1 200  76458    ABBY       F            2016
2 357  26111    ABBY       F            2016
3 418  63866    AEON       F            2002
4  64 102636    ALPHA      F            2015
5 140  36067    ALPHA      F            2015
6 299   8383    ALPHA      F            2015
  BreedName                     Borough ZipCode LicenseIssuedDate
1 Morkie                        NA      10014   06/30/2017
2 Morkie                        NA      10014   06/30/2017
3 Labrador Retriever Crossbreed NA      10012   04/03/2018
4 Pomeranian                    NA      10014   11/01/2016
5 Pomeranian                    NA      10014   11/01/2016
6 Pomeranian                    NA      10014   11/01/2016
  LicenseExpiredDate Extract.Year Age
1 2022-05-06         2017          4
2 2022-05-06         2018          4
3 2021-04-03         2018         18
4 2021-11-01         2016          5
5 2021-11-01         2017          5
6 2021-11-01         2018          5

In [5]:
# ii) Sort Animal Name from Z to A
head(arrange(nyc_dogs, desc(AnimalName)))

  X   RowNumber AnimalName AnimalGender AnimalBirthYear BreedName
1 184 63576     ZOEY       F            2014            Labradoodle
2 343 20071     ZOEY       F            2014            Labradoodle
3   3 43865     ZOE        F            2013            Maltese
4  79  9038     ZOE        F            2013            Maltese
5 238  3449     ZOE        F            2013            Maltese
6 436 75071     ZIRA       F            2017            Brussels Griffon
  Borough ZipCode LicenseIssuedDate LicenseExpiredDate Extract.Year Age
1 NA      10014   05/03/2017        2022-03-27         2017         6
2 NA      10014   05/03/2017        2022-03-27         2018         6
3 NA      10014   02/15/2016        2021-02-15         2016         7
4 NA      10014   02/15/2016        2021-02-15         2017         7
5 NA      10014   02/15/2016        2021-02-15         2018         7
6 NA      10014   05/26/2018        2023-05-17         2018         3

In [21]:
# iii) Sort Animal Name from A to Z, then short by Animal Birth Year in decending order
# Strategy 1
# display without storing the information
arrange(nyc_dogs, AnimalName, desc(AnimalBirthYear))

    X   RowNumber AnimalName AnimalGender AnimalBirthYear
1   200  76458    ABBY       F            2016
2   357  26111    ABBY       F            2016
3   418  63866    AEON       F            2002
4    64 102636    ALPHA      F            2015
5   140  36067    ALPHA      F            2015
6   299   8383    ALPHA      F            2015
7   219  99313    ALVIE      F            2012
8   377  37287    ALVIE      F            2012
9    21  62842    ARCHIE     M            2012
10   97  17743    ARCHIE     M            2012
11  256   4844    ARCHIE     M            2012
12  497 106382    ARIELLA    F            2013
13   35  78104    ARTHUR     M            2014
14  111  23956    ARTHUR     M            2014
15  270   5834    ARTHUR     M            2014
16  478  98031    ATHENA     F            2011
17  419  64389    BABA       M            2016
18   25  68465    BAGEL      M            2015
19  101  19968    BAGEL      M            2015
20  260   5204    BAGEL      M            2015
21  207  80567    BAILEY     M            2005
22  364  28136    BAILEY     M            2005
23  164  48117    BANDIT     M            2015
24  324  12521    BANDIT     M            2015
25   57  93663    BANDIT     M            2012
26  132  31572    BANDIT     M            2012
27  291   7654    BANDIT     M            2012
28    8  49585    BANDIT     M            2007
29   84  11608    BANDIT     M            2007
30  243   3814    BANDIT     M            2007
... ... ...       ...        ...          ...
486 353  22976    TUCKER     M            2016
487 425  66545    URSO       M            2011
488  60  97912    VACHETTE   F            2014
489 136  33557    VACHETTE   F            2014
490 295   8001    VACHETTE   F            2014
491  39  83339    VIOLET     F            2015
492 115  26433    VIOLET     F            2015
493 274   6382    VIOLET     F            2015
494  58  95393    WALLACE    M            2012
495 135  32451    WALLACE    M            2012
496 293   7804    WALLACE    M            2012
497 477  96911    WATSON     M            2018
498 409  56494    WHEATON    F            2016
499  63 102013    WINNIE     F            2015
500 139  35623    WINNIE     F            2015
501 298   8323    WINNIE     F            2015
502  49  91392    YODA       M            2009
503 125  30482    YODA       M            2009
504 284   7427    YODA       M            2009
505 167  48617    ZENA       F            2016
506 326  12678    ZENA       F            2016
507 459  84178    ZEUS       M            2017
508 427  67415    ZIGGY      M            2017
509 487 102912    ZIGGY      F            2016
510 436  75071    ZIRA       F            2017
511   3  43865    ZOE        F            2013
512  79   9038    ZOE        F            2013
513 238   3449    ZOE        F            2013
514 184  63576    ZOEY       F            2014
515 343  20071    ZOEY       F            2014
    BreedName                     Borough ZipCode LicenseIssuedDate
1   Morkie                        NA      10014   06/30/2017
2   Morkie                        NA      10014   06/30/2017
3   Labrador Retriever Crossbreed NA      10012   04/03/2018
4   Pomeranian                    NA      10014   11/01/2016
5   Pomeranian                    NA      10014   11/01/2016
6   Pomeranian                    NA      10014   11/01/2016
7   Italian Greyhound             NA      10012   09/30/2017
8   Italian Greyhound             NA      10012   09/30/2017
9   Puggle                        NA      10014   05/12/2016
10  Puggle                        NA      10014   05/12/2016
11  Puggle                        NA      10014   05/12/2016
12  German Shepherd Dog           NA      10014   10/30/2018
13  Vizsla                        NA      10012   07/13/2016
14  Vizsla                        NA      10012   07/13/2016
15  Vizsla                        NA      10012   07/13/2016
16  Staffordshire Bull Terrier    NA      10013   09/16/2018
17  Poodle, Miniature             NA      10013   04/05/2018
18  Poodle Crossbreed             NA      10014   06/05/2016
19  Poodle Crossbreed             NA      10014   06/05/2016
20  Poodle Crossbreed             NA      10014   06/05/2016
21  Chihuahua                     NA      10013   07/18/2017
22  Chihuahua                     NA      10013   07/18/2017
23  Havanese                      NA      10014   02/12/2017
24  Havanese                      NA      10014   02/12/2017
25  Mudi                          NA      10013   09/18/2016
26  Mudi                          NA      10013   09/18/2016
27  Mudi                          NA      10013   09/18/2016
28  Collie Crossbreed             NA      10013   03/15/2016
29  Collie Crossbreed             NA      10013   03/15/2016
30  Collie Crossbreed             NA      10013   03/15/2016
... ...                           ...     ...     ...
486 Australian Shepherd           NA      10014   05/31/2017
487 Beagle                        NA      10013   04/15/2018
488 Poodle                        NA      10013   10/07/2016
489 Poodle                        NA      10013   10/07/2016
490 Poodle                        NA      10013   10/07/2016
491 Lowchen                       NA      10013   08/04/2016
492 Lowchen                       NA      10013   08/04/2016
493 Lowchen                       NA      10013   08/04/2016
494 Scottish Terrier              NA      10014   09/26/2016
495 Scottish Terrier              NA      10014   09/26/2016
496 Scottish Terrier              NA      10014   09/26/2016
497 Shepard Crossbreed            NA      10013   09/11/2018
498 Wheaton Terrier               NA      10012   02/26/2018
499 Vizsla                        NA      10013   10/28/2016
500 Vizsla                        NA      10013   10/28/2016
501 Vizsla                        NA      10013   10/28/2016
502 Bull Dog, French              NA      10014   09/09/2016
503 Bull Dog, French              NA      10014   09/09/2016
504 Bull Dog, French              NA      10014   09/09/2016
505 Labrador Retriever Crossbreed NA      10014   02/15/2017
506 Labrador Retriever Crossbreed NA      10014   02/15/2017
507 Rhodesian Ridgeback           NA      10014   07/11/2018
508 Boston Terrier                NA      10013   04/19/2018
509 German Shepherd Dog           NA      10013   10/12/2018
510 Brussels Griffon              NA      10014   05/26/2018
511 Maltese                       NA      10014   02/15/2016
512 Maltese                       NA      10014   02/15/2016
513 Maltese                       NA      10014   02/15/2016
514 Labradoodle                   NA      10014   05/03/2017
515 Labradoodle                   NA      10014   05/03/2017
    LicenseExpiredDate Extract.Year Age
1   2022-05-06         2017          5
2   2022-05-06         2018          5
3   2021-04-03         2018         19
4   2021-11-01         2016          6
5   2021-11-01         2017          6
6   2021-11-01         2018          6
7   2022-09-18         2017          9
8   2022-09-18         2018          9
9   2021-05-12         2016          9
10  2021-05-12         2017          9
11  2021-05-12         2018          9
12  2021-10-30         2018          8
13  2021-07-13         2016          7
14  2021-07-13         2017          7
15  2021-07-13         2018          7
16  2021-05-28         2018         10
17  2023-04-05         2018          5
18  2021-06-05         2016          6
19  2021-06-05         2017          6
20  2021-06-05         2018          6
21  2022-08-30         2017         16
22  2022-08-30         2018         16
23  2022-02-12         2017          6
24  2022-02-12         2018          6
25  2021-09-18         2016          9
26  2021-09-18         2017          9
27  2021-09-18         2018          9
28  2021-02-26         2016         14
29  2021-02-26         2017         14
30  2021-02-26         2018         14
... ...                ...          ...
486 2022-04-24         2018          5
487 2023-07-20         2018         10
488 2021-10-07         2016          7
489 2021-10-07         2017          7
490 2021-10-07         2018          7
491 2021-09-24         2016          6
492 2021-09-24         2017          6
493 2021-09-24         2018          6
494 2021-11-13         2016          9
495 2021-11-13         2017          9
496 2021-11-13         2018          9
497 2023-09-11         2018          3
498 2023-04-11         2018          5
499 2021-10-28         2016          6
500 2021-10-28         2017          6
501 2021-10-28         2018          6
502 2021-10-14         2016         12
503 2021-10-14         2017         12
504 2021-10-14         2018         12
505 2022-05-23         2017          5
506 2022-05-23         2018          5
507 2024-08-03         2018          4
508 2023-04-19         2018          4
509 2023-10-12         2018          5
510 2023-05-17         2018          4
511 2021-02-15         2016          8
512 2021-02-15         2017          8
513 2021-02-15         2018          8
514 2022-03-27         2017          7
515 2022-03-27         2018          7

In [100]:
# iii) Sort Animal Name from A to Z, then short by Animal Birth Year in decending order
# Strategy 2
# store in variable and then display
nyc_dogs <- arrange(nyc_dogs, desc(AnimalBirthYear))
head(arrange(nyc_dogs, AnimalName))

  X   RowNumber AnimalName AnimalGender AnimalBirthYear
1 200  76458    ABBY       F            2016
2 357  26111    ABBY       F            2016
3 418  63866    AEON       F            2002
4  64 102636    ALPHA      F            2015
5 140  36067    ALPHA      F            2015
6 299   8383    ALPHA      F            2015
  BreedName                     Borough ZipCode LicenseIssuedDate
1 Morkie                        NA      10014   06/30/2017
2 Morkie                        NA      10014   06/30/2017
3 Labrador Retriever Crossbreed NA      10012   04/03/2018
4 Pomeranian                    NA      10014   11/01/2016
5 Pomeranian                    NA      10014   11/01/2016
6 Pomeranian                    NA      10014   11/01/2016
  LicenseExpiredDate Extract.Year Age
1 2022-05-06         2017          4
2 2022-05-06         2018          4
3 2021-04-03         2018         18
4 2021-11-01         2016          5
5 2021-11-01         2017          5
6 2021-11-01         2018          5

## Part 2 - Filter

### Exercise 3 - Old Chihuahuas

- i) Filter the nyc_dogs data frame to consist only of dogs are at least 10 years old and whose breed is 'Chihuahua'. Store the filtered data in a new dataframe called old_chihuahuas.
- ii) How many chihuahuas are there in the data set that are at least 10 years old? 
- iii) What assumptions are underlying your answer? Is your number likely larger than, equal to, or smaller than the actual number.

In [22]:
# Strategy 1
old_chihuahuas <- filter(nyc_dogs, Age >=10 & BreedName == 'Chihuahua')

In [25]:
# Strategy 2
old_chihuahuas <- filter(nyc_dogs, BreedName == 'Chihuahua')
old_chihuahuas <- filter(old_chihuahuas, Age >=10)
head(old_chihuahuas,2)

  X   RowNumber AnimalName AnimalGender AnimalBirthYear BreedName Borough
1 207 80567     BAILEY     M            2005            Chihuahua NA
2 364 28136     BAILEY     M            2005            Chihuahua NA
  ZipCode LicenseIssuedDate LicenseExpiredDate Extract.Year Age
1 10013   07/18/2017        2022-08-30         2017         16
2 10013   07/18/2017        2022-08-30         2018         16

In [26]:
# ii) How many chihuahuas are there in the data set that are at least 10 years old?
# Strategy 1
str(old_chihuahuas)

'data.frame':	7 obs. of  12 variables:
 $ X                 : int  207 364 467 446 231 389 430
 $ RowNumber         : int  80567 28136 86817 80223 106922 41276 68946
 $ AnimalName        : Factor w/ 250 levels "ABBY","AEON",..: 11 11 37 40 204 204 229
 $ AnimalGender      : Factor w/ 2 levels "F","M": 2 2 2 2 2 2 2
 $ AnimalBirthYear   : int  2005 2005 2006 2005 2009 2009 2011
 $ BreedName         : Factor w/ 110 levels "Airedale Terrier",..: 26 26 26 26 26 26 26
 $ Borough           : logi  NA NA NA NA NA NA ...
 $ ZipCode           : int  10013 10013 10014 10014 10014 10014 10012
 $ LicenseIssuedDate : Factor w/ 237 levels "01/01/2018","01/03/2017",..: 138 138 143 112 218 218 75
 $ LicenseExpiredDate: Factor w/ 234 levels "2021-02-12","2021-02-15",..: 149 149 114 144 158 158 185
 $ Extract.Year      : int  2017 2018 2018 2018 2017 2018 2018
 $ Age               : num  16 16 15 16 12 12 10

In [27]:
# Strategy 2 
dim(old_chihuahuas)[1] # [1] after dim() pulls out the first entry in the result, the number of rows.

[1] 7

In [28]:
# Strategy 3
length(old_chihuahuas$Age)

[1] 7

In [29]:
# Strategy 4
nrow(old_chihuahuas) # nrow give the number of rows in the dataframe

[1] 7

There are 7 chihuahuas in the data set that are at least 10 years old.

This is assuming that all of the dogs in the data set are alive today. It is also assuming that all dogs born in 2021 are 10 years old. Both of these assumption will lead to an output that is **larger** than the actual number.

## Part 3 - Group and Summarize

### Exercise 4 - Where do the dogs live?

Use the ```group_by()``` and ```summarize()``` functions to answer the following questions. You can ignore the warning message about `summarise()` ungrouping output.
- How many of dogs in the nyc_dogs data set live in each zip code?

In [11]:
### Dogs per zipcode
nyc_dogs <- ungroup(nyc_dogs) # Execute this command to remove any grouping that was applied in previous exercises.
nyc_dogs <- group_by(nyc_dogs, ZipCode)
head(summarize(nyc_dogs, Count=n())) # n() says count

  ZipCode Count
1 10012   149
2 10013   149
3 10014   217

### Excercise 5 - Average age
- Use the code in the cell below to remove all groupings from nyc_dogs
- Find the average of both the female dogs and the male dogs in the nyc_dogs data frame.

In [12]:
nyc_dogs <- ungroup(nyc_dogs) # Execute this command to remove any grouping that was applied in previous exercises.

In [13]:
nyc_dogs <- group_by(nyc_dogs, AnimalGender)
summarize(nyc_dogs, AvgAge = mean(Age))

  AnimalGender AvgAge
1 F            6.473077
2 M            7.270588

### Exercise 6 - Popular name
- Find the most popular male dog name and the most popular female dog name in the nyc_dogs dataset.

In [14]:
nyc_dogs <- ungroup(nyc_dogs) # Execute this command to remove any grouping that was applied in previous exercises.
nyc_dogs <- group_by(nyc_dogs, AnimalName, AnimalGender)
name_counts <- summarize(nyc_dogs, Count = n())
name_counts <- arrange(name_counts, desc(Count))
head(name_counts)

  AnimalName AnimalGender Count
1 BANDIT     M            8
2 RUBY       F            7
3 STELLA     F            7
4 GRETA      F            6
5 LOLA       F            6
6 DAISY      F            5

The most popular male dog name is Bandit and the most popular female dog name is Ruby.

## Examples

### Example 1 - sort berkeley data

In [1]:
berkeley <- read.csv('~/shared/data/berkeley73.csv')
arrange(berkeley, desc(Women_Admitted))
rm(berkeley) # remove the variable so that it does just sit in memory.

ERROR: Error in arrange(berkeley, desc(Women_Admitted)): could not find function "arrange"

### Example 2 - sort weather data

In [ ]:
NYCaugust <- read.csv('~/shared/data/NYC_Weather_August_2020.csv')
NYCaugust <- arrange(NYCaugust, desc(Temp_Max),Humidity_.Max)
head(NYCaugust)
rm(NYCaugust)  # remove the variable so that it does just sit in memory.

### Example 3 - group and summarize weather data

In [ ]:
library('dplyr')
NYCaugust <- read.csv('~/shared/data/NYC_Weather_August_2020.csv')
NYCaugust <- group_by(NYCaugust, Wind_Min)
head(summarize(NYCaugust, Avg_Wind_Max = mean(Wind_Max)))
#rm(NYCaugust)  # remove the variable so that it does just sit in memory.

### Example 4 - Longest lived breed

Based on the data in nyc_dogs determine what breed has the longest lifespan.

In [113]:
head(arrange(nyc_dogs, desc(Age))) # Look at the data so that we know what to expect

  X   RowNumber AnimalName AnimalGender AnimalBirthYear
1 418 63866     AEON       F            2002
2 422 65005     SCOUT      M            2003
3  23 64970     BOZ        M            2004
4  29 72188     LOLA       F            2004
5  99 18491     BOZ        M            2004
6 105 21371     LOLA       F            2004
  BreedName                     Borough ZipCode LicenseIssuedDate
1 Labrador Retriever Crossbreed NA      10012   04/03/2018
2 Cavalier King Charles Spaniel NA      10013   04/09/2018
3 Labradoodle                   NA      10014   05/19/2016
4 Labrador Retriever            NA      10013   06/19/2016
5 Labradoodle                   NA      10014   05/19/2016
6 Labrador Retriever            NA      10013   06/19/2016
  LicenseExpiredDate Extract.Year Age
1 2021-04-03         2018         18
2 2023-04-09         2018         17
3 2021-05-19         2016         16
4 2021-06-19         2016         16
5 2021-05-19         2017         16
6 2021-06-19         2017         16

In [114]:
nyc_dogs <- ungroup(nyc_dogs) # Execute this command to remove any grouping that was applied in previous exercises.

In [117]:
# Strategy 1: summarize and sort
nyc_dogs <- group_by(nyc_dogs, BreedName)
breed_age <- summarize(nyc_dogs, Max_Age = max(Age))
breed_age <- arrange(breed_age, desc(Max_Age))
head(breed_age)

`summarise()` ungrouping output (override with `.groups` argument)

  BreedName                     Max_Age
1 Labrador Retriever Crossbreed 18
2 Cavalier King Charles Spaniel 17
3 Beagle Crossbreed             16
4 Labradoodle                   16
5 Labrador Retriever            16
6 Chihuahua                     15

We conclude that Labrador Retriever Crossbreed	is the longest lived of the breeds, because they can reach the maximum age of 18 years old.

In [120]:
# Strategy 2: Find max age then filster, summarize and sort
max_age <- max(nyc_dogs$Age)
max_age

old_dogs <- filter(nyc_dogs, Age == max_age)
old_dogs <- group_by(old_dogs, BreedName)
old_breeds <- summarize(old_dogs, Count = n())
old_breeds <- arrange(old_breeds, desc(Count))
old_breeds

[1] 18

`summarise()` ungrouping output (override with `.groups` argument)

  BreedName                     Count
1 Labrador Retriever Crossbreed 1

We conclude that Labrador Retriever Crossbreed	is the longest lived of the breeds, because they can reach the maximum age of 18 years old.

It would be more accurage to look at the dogs who get old (say at least 10 years) rather than just those that reach the max age.

In [121]:
nyc_dogs <- ungroup(nyc_dogs) # Execute this command to remove any grouping that was applied in previous exercises.

In [128]:
# Strategy 3 Highest percentage of old dogs, in knowns breeds with at least 100 representatives
nyc_dogs <- mutate(nyc_dogs, is_old = Age >=10)
nyc_dogs <- group_by(nyc_dogs, BreedName)
breed_counts <- summarize(nyc_dogs, Num_Old = sum(is_old), Total = n())
breed_counts <- mutate(breed_counts, Perc_Old = Num_Old / Total * 100)
breed_counts <- arrange(breed_counts,desc(Total), desc(Perc_Old))
head(breed_counts,12)

`summarise()` ungrouping output (override with `.groups` argument)

   BreedName                     Num_Old Total Perc_Old
1  Labrador Retriever            17      34    50.000000
2  Shih Tzu                       2      20    10.000000
3  Labrador Retriever Crossbreed  4      18    22.222222
4  Labradoodle                    3      18    16.666667
5  Chihuahua                      6      16    37.500000
6  Yorkshire Terrier              6      14    42.857143
7  French Bulldog                 0      14     0.000000
8  Poodle Crossbreed              0      14     0.000000
9  Havanese                       2      13    15.384615
10 Goldendoodle                   0      13     0.000000
11 Maltese                        1      12     8.333333
12 Shih Tzu Crossbreed            2      11    18.181818

We conclude that Labrador Retriever is most likely to live at least ten years.