# Lesson 4 Solutions

These exercises are to help you check your understanding during class. They will not be collected.

## Part 1: Dataframes

### Exercise 1 - `floor()` function
The `floor()` function takes a decimal and returns the whole number to the left of the decimal place **without** rounding.
$$\texttt{floor}(2.98) = 2 $$

Last class, we found the duration of the 13th recorded eruption in terms of minuts and seconds. Using the code in the cells below. 

- Use the foor function to create an expression that will output the number of whole minutes the 17th erruption lasted.

In [20]:
faithful$eruptions[13]

[1] 4.2

In [21]:
0.2 * 60

[1] 12

The 13th eruption lasted 4 minutes and 12 seconds.

In [22]:
floor(faithful$eruptions[17])

[1] 1

The 17th eruption lasted for 1 whole minute and some number of seconds.

### Exercise 2 - Whole minutes
The faithful data set gives the duration of the erruptions in minutes and fractions of a minute. It would be easer to understad the data if we converted the decimals to seconds. 

The `floor()` function is vectorized. This means that if you input a vector of decimal numbers, it will return a vector of floor of each entry. 
$$\texttt{floor}(\texttt{c}(1.2, 3.6, 4.01) ) = \texttt{c}(1, 3, 4)$$

- Add a column called `minutes` to the `faithful` data set that contains the number of whole minutes (ignoring the decimal) that the erruption lasted.

In [29]:
faithful$minutes <- floor(faithful$eruption)
head(faithful, 3)

  eruptions waiting minutes
1 3.600     79      3
2 1.800     54      1
3 3.333     74      3

### Exercises 3- Seconds
- Add a column called `seconds` to the `faithful` data set that contains the number of seconds that correspond to the decimal portion of the erruption duration.

In [30]:
faithful$seconds <- (faithful$eruption - faithful$minutes)*60
head(faithful, 3)

  eruptions waiting minutes seconds
1 3.600     79      3       36.00
2 1.800     54      1       48.00
3 3.333     74      3       19.98

## Part 2: dplyr

### Exercise 4 - Clean slate
The `rm()` function removes the values stored in a variable. 

- Execute the code in the cell below to recet the faithful dataset to the built in version. 
- Use `head()` to look at the first three rows of the faithful dataset and verify that the minutes and seconds columns are no longer there.

In [1]:
rm(faithful)

Warning message in rm(faithful):
“object 'faithful' not found”

In [2]:
head(faithful,3)

  eruptions waiting
1 3.600     79
2 1.800     54
3 3.333     74

### Exercise 5 - Minutes again
- Execute the code in the cell below to load the `dplyr` library.
- Use the `mutate()` function to add a column called minutes to the faithful data set that contains the number of whole minutes (ignoring the decimal) that the erruption lasted

In [39]:
library('dplyr')

In [41]:
faithful <- mutate(faithful, minutes = floor(eruptions))
head(faithful,3)

  eruptions waiting minutes
1 3.600     79      3
2 1.800     54      1
3 3.333     74      3

### Exercise 6 - Seconds again
- Use the `mutate()` function to add a column called `seconds` to the `faithful` data set that contains the number of seconds that correspond to the decimal portion of the erruption duration.

In [43]:
faithful <- mutate(faithful, seconds = (eruptions - minutes)*60)
head(faithful,3)

  eruptions waiting minutes seconds
1 3.600     79      3       36.00
2 1.800     54      1       48.00
3 3.333     74      3       19.98

## Part 3: Sorting

### Exercise 7 - Longest eruption
- Use the `arrange()` function to find the duration of the longest eruption in the faithful dataset.

In [58]:
arrange(faithful, desc(eruptions))[1,]

  eruptions waiting minutes seconds
1 5.1       96      5       6

The longest erruption lasted 5 minutes and 6 seconds.

### Exercise 8 - Shortest eruption
- Use the minutes and seconds columns that you added to the faithful dataset to find the duration of the shortest eruption.

In [59]:
arrange(faithful, minutes, seconds)[1,]

  eruptions waiting minutes seconds
1 1.6       52      1       36

The shortest erruption lasted 1 minute and 36 seconds.

## Examples

### Example 1 - Add a column (base R)

In [51]:
# manually create the data frame
my_data <- data.frame('Runner' = c('Alice', 'Bob', 'Carol'),
                      'Minutes' = c(5,4,4),
                      'Seconds' = c(6,10,30)
                     )
my_data

  Runner Minutes Seconds
1 Alice  5        6
2 Bob    4       10
3 Carol  4       30

In [6]:
# add the Total column to the data frame
my_data$Total <- my_data$Minutes + my_data$Seconds/60
my_data

  Runner Minutes Seconds Total
1 Alice  5        6      5.100000
2 Bob    6       10      6.166667
3 Carol  4       30      4.500000

### Example 2 - Add column dplyr

In [11]:
library('dplyr')

In [53]:
my_data <- mutate(my_data, Total = Minutes + Seconds/60)
my_data

  Runner Minutes Seconds Total
1 Alice  5        6      5.100000
2 Bob    4       10      4.166667
3 Carol  4       30      4.500000

### Example 3 - Sorting

In [55]:
# only output sorted data; don't save it
arrange(my_data, Total)

  Runner Minutes Seconds Total
1 Bob    4       10      4.166667
2 Carol  4       30      4.500000
3 Alice  5        6      5.100000

In [56]:
# dataframe is unchaged
my_data

  Runner Minutes Seconds Total
1 Alice  5        6      5.100000
2 Bob    4       10      4.166667
3 Carol  4       30      4.500000

In [57]:
# sort multiple columns
arrange(my_data, desc(Minutes), desc(Seconds))

  Runner Minutes Seconds Total
1 Alice  5        6      5.100000
2 Carol  4       30      4.500000
3 Bob    4       10      4.166667